html, body {
    height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
}

nav .logo {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

nav .logo img {
    max-height: 40px; /* Ajusta el tamaño máximo del logo según tus necesidades */
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #CCC;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Resto del CSS */
section {
    padding: 20px;
}

.banner {
    display: flex;
    align-items: center;
    padding: 0; /* Eliminar padding para que la imagen ocupe todo el espacio */
    background-color: #000000;
    position: relative;
    height: 100vh; /* Banner cubre toda la pantalla */
    overflow: hidden; /* Evita el desbordamiento */
}

.text-container {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translateY(-50%);
    padding: 20px;
    color: #C0C0C0;
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
    /* background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad del texto */
}

.text-container h1 {
    font-size: 64px;
    color: #E5E5E5;
    text-shadow: 2px 2px 5px #ffffff;
}

.text-container p {
    font-size: 30px;
    color: #D3D3D3;
}

.image-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%; /* Asegura que la imagen ocupe todo el espacio disponible a la derecha */
    background-image: url('auto1.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #2B2B2B;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

.card-info {
    padding: 15px;
}

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: #CCCCCC;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

footer .social-icons {
    margin-top: 10px;
}
.login-container {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #CCCCCC;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #444444;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #555555;
}
